/*Border*/
body{
	margin: auto;
    width: 50%;
    border-radius: 7px;
	 box-shadow: 0 0 10px #bdbdbd;
    padding: 10px;
}
/*Heading*/
h1{
    font-size: 36px;
    background-color: #b30000;
    color: white;
    font-weight: bold;
    margin:-10px
}
h2{
	padding:5px;
	font-weight: bold;
}
/*para*/
p{
	color: red;
}
/*Fieldset*/
fieldset{
	border:none;
	background-color: #f1f1f1;
	padding:15px;
	margin:15px;
}
/*legend*/
legend{
	margin-left:-15px;
	padding-right: 30px;
	background-color: #d3d3d3;
	text-align:left;
	width:100%;
	font-size: 20px;
	font-weight: bold;
}
#education{
	margin-left: 32%;
  border:1px solid grey;
  width : 45%;
}
#education legend{
  margin-left:10px;
  background-color:#F1F1F1;
}
/*Label*/
 label{
 	margin: 0.4em;
	 display: inline-block;
     width: 30%;
    text-align: right;
}
/*Required*/
span{
	color:red;
}
/*all input filed*/
 input, select, textarea
{
     border-radius: 5px;
	 box-shadow: 0 0 10px #bdbdbd;
     font-size : 100%;
     width : 45%;
}
input[type="radio"]{
	width:5%;
	box-shadow: 0 0 10px #F1F1F1;
	background-color:#F1F1F1;
}
textarea{
	vertical-align: top;
}
#edu{
   width:15px;
   background:white;
}
#newfieldset{
	border:1px solid black;
	width: 40%;
	margin-left:220px;
	background-color: white;
}
#newledgent{

	width:50%;

	font-size: 16px;
	font-weight:lighter;
}
.buttonSize{
	margin-left: 10px;
	width: 20%;
}
.buttons{
	text-align:center;
}
.buttonSize {
	background-color:#d92929;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.buttonSize:hover {
	background-color:#db3333;
}
.buttonSize:active {
	position:relative;
	top:1px;
}
#passtext,#checkpasstext,#checkfname,#checklname,#checkphone,#educationerror{
  padding-left:200px;
  color:red;
}
